@import "../../../../node_modules/bootstrap/scss/bootstrap-grid";

//[class*="col"] {
//  margin-bottom: $col-margin-bottom;
//}

.aligner{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex{
  display: flex;
}

.full-width-height{
  width: 100%;
  height: 100%;
}